@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/*
0-600px PHONE
600-900px TABLET PORTRAIT
900-1200px TABLET LANDSCAPE
1800px+ BIG DESKTOP
 */
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { // 600px
            @content
        }
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { // 900px
            @content
        }
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { // 1200px
            @content
        }
    }

    @if $breakpoint == small-desktop {
        @media only screen and (max-width: 87.5em) { // 1400px
            @content
        }
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { // 1800px
            @content
        }
    }
}