.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        font-size: $default-font-size;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;

        transition: all .2s;
        transition-property: transform, box-shadow;
        position: relative;

        // Changes for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scale(1.4, 1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        background-color: inherit;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        transition-property: transform, opacity;
        pointer-events: none; /* Disable hover */
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: transform .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}